
//
// VARIABLES
//

// Colors
$white-base: #ffffff;
$white-medium: #F0F0F0;

$grey-faint: #F9F9F9;
$grey-fade:  #ececec;
$grey-base:  #9b9b9b;
$grey-medium: #4E4E4F;
$grey-dark: #494947;

$slate-fade: #88A0AA;
$slate-base: #49565B;
$slate-medium: #354147;
$slate-dark: #2B353A;
$slate-heavy: #1E2930;

$theme-light: #def7e3;
$theme-fade: #c6e3cc;
$theme-base: #8dad94;
$theme-medium: #415343;
$theme-dark: #17140e;
$theme-heavy: #040816;

$cta-base:#e9610b;
$cta-medium: #bb4a04;

$orange-fade: #fcce97;
$orange-base: #e9b472;
$orange-medium: #d4984d;
$orange-dark: #633711;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$base-size: 8px;

$_05em: $base-size / 2;
$_1em: $base-size;
$_2em: $base-size * 2;
$_3em: $base-size * 3;
$_4em: $base-size * 4;
$_5em: $base-size * 5;
$_6em: $base-size * 6;
$_7em: $base-size * 7;
$_8em: $base-size * 8;
