<footer class="row-dark">
  <div class="content">
    <h2>Get the book</h2>
    <div class="grid gutter-xs-lg no-response">
      <div class="cell-shrink">
        <span class="text-light">EPUB &amp; Kindle</span>
        <h2>{{ page.epub_price }}</h2>
      </div>
      <div class="cell">
        <span class="text-light">PAPERBACK</span>
        <h2>{{ page.paperback_price }}</h2>
      </div>
    </div>

    <h3 class="text-cta space-top-xs-xs">Available now</h3>
    <p>{{ page.description }}</p>

    <div class="grid gutter-xs-sm space-top-xs-md">
      <div class="cell-shrink">
        <a href="{{ page.amazon_url }}" target="_blank" class="btn-orange btn-sm btn-full">Buy on Amazon</a>
      </div>
      <div class="cell-shrink">
        <a href="{{ page.apple_books_url }}" target="_blank" class="btn-white btn-sm btn-full">Apple Books</a>
      </div>
      <div class="cell-shrink">
        <a href="{{ page.donation_url }}" target="_blank" class="btn-purple btn-sm btn-full">Via Donation</a>
      </div>
    </div>
  </div>
  <div class="content space-top-xs-lg">
    <div class="grid justify-between no-response align-middle">
      <div class="cell">
        Carlos Espinal - ©2021
      </div>
      <div class="cell-shrink grid no-response gutter-xs-lg">
        <div class="cell">
          <a href="https://twitter.com/cee/" target="_blank">
            <image src="{{ site.baseurl }}/images/twitter-white.svg" width="32"/>
          </a>
        </div>
        <div class="cell">
          <a href="https://www.instagram.com/iconografico/" target="_blank">
            <image src="{{ site.baseurl }}/images/instagram-white.svg" width="32"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
