<footer class="row-dark">
  <div class="content">
    <div class="grid align-middle gutter-xs-xl space-top-sm-xl">
      <div class="cell-shrink">
        <div class="artwork">
          <div class="text">
            <h1>{{ site.name }}</h1>
            <p>{{ site.description }}</p>
            <p class="author">
              Carlos Espinal
            </p>
          </div>
          <img width="1600" height="2560" src="{{ "images/cover.jpg" | site.base_url | append: cacheBust }}">
        </div>
      </div>
      <div class="cell">
        <h1>Get the book</h1>
        <!-- <div class="grid gutter-xs-lg no-response">
          <div class="cell-shrink">
            <span class="text-light">EPUB &amp; Kindle</span>
            <h2>{{ site.epub_price }}</h2>
          </div>
          <div class="cell">
            <span class="text-light">PAPERBACK</span>
            <h2>{{ site.paperback_price }}</h2>
          </div>
        </div> -->

        <h3 class="text-cta space-top-xs-xs">Available April 24</h3>
        <p>{{ page.description }}</p>

        <div class="grid gutter-xs-sm space-top-xs-md">
          <div class="cell-shrink">
            <div class="button-group">
              <a href="{{ site.amazon_uk_url }}" target="_blank" class="first">Buy on Amazon UK</a>
              <a href="{{ site.amazon_us_url }}" target="_blank" class="second">US</a>
            </div>
          </div>
          <div class="cell-shrink">
            <a href="{{ site.books_2_read_url }}" target="_blank" class="btn-white btn-sm btn-full">Apple Books</a>
          </div>
          <div class="cell-shrink">
            <a href="{{ site.donation_url }}" target="_blank" class="btn-cta btn-sm btn-full">Via Donation</a>
          </div>
        </div>

        <div class="grid gutter-xs-md no-response align-middle space-top-xs-md">
          <div class="cell-shrink">
            <img width="40" height="40" class="img-avatar" src="{{ site.baseurl }}/images/avatar.jpg">
          </div>
          <div class="cell">
            <p>
              <a href="#bio" class="underlined">Carlos Espinal</a>, Partner @seedcamp
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content space-top-xs-xl">
    <div class="grid justify-between no-response align-middle">
      <div class="cell">
        Carlos Espinal - ©{{ site.time | date: "%Y" }}
      </div>
      <div class="cell-shrink grid no-response gutter-xs-lg">
        <div class="cell">
          <a href="https://twitter.com/cee/" target="_blank">
            <image src="{{ site.baseurl }}/images/twitter-white.svg" width="32"/>
          </a>
        </div>
        <div class="cell">
          <a href="https://www.instagram.com/iconografico/" target="_blank">
            <image src="{{ site.baseurl }}/images/instagram-white.svg" width="32"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
