// Buttons

// Make button
@mixin makebutton($bgcolor, $bgcolor-hover, $color) {
  background: $bgcolor;
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 6px;
  padding :$_2em $_3em;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color:$color !important;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  &:hover {
    background: $bgcolor-hover;
    color: $color !important;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    border:none !important;
  }
}

// Make full width
@mixin makeFullWidth ($size) {
  .btn-#{$size}-full{
    @include bp-max ($size) {
      width:100%;
    }
  }
}

@include makeFullWidth(sm);
@include makeFullWidth(md);
@include makeFullWidth(lg);
@include makeFullWidth(xl);

// Define button colors
.btn-white       {@include makebutton($white-base, $grey-fade, $slate-dark);}
.btn-cta      {@include makebutton($cta-base, $cta-medium, $white-base);}
.btn-theme      {@include makebutton($theme-medium, $theme-base, $white-base);}
.btn-theme-dark {@include makebutton($theme-medium, $theme-dark, $white-base);}
.btn-grey        {@include makebutton($grey-faint, $grey-fade, $slate-dark);}

// Button states
.btn-full {
  width:100%;
}

.btn-inline {
  > * {
    margin-right: $_1em;
    margin-bottom: $_1em;
  }
}

.btn-full-mob {
  @include bp-max(sm) {
    width: 100%;
  }
}

.button-group {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  a:hover {
    text-decoration: none !important;
  }
  > div {
    display: inline-block;
  }
  .first {
    box-sizing: border-box;
    background: $orange-base;
    padding: 12px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: $orange-dark;
    width: 100%;
    @include bp(sm) {
      width: auto;
    }
    &:hover {
      background: $orange-fade;
    }
  }
  .second {
    color: $orange-dark;
    box-sizing: border-box;
    padding: 12px $_3em;
    background: $orange-medium;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    &:hover {
      background: $orange-fade;
    }
    @include bp(sm) {
      padding: 12px;
    }
  }
}

.btn-sm {
  font-size: 16px;
  padding: ($_1em + $_05em) $_2em;
}

.btn-lg {
  padding: $_2em $_3em;
  font-size: 20px;
}

.btn-xl {
  padding: $_3em $_4em;
  font-size: 24px;
  border-radius: 6px;
}

.btn-lowercase {
  text-transform: initial;
}

.btn-circle {
  border-radius: 50%;
}

.btn-disabled {
  opacity: 0.3;
}

.btn-close {
  cursor: pointer;
}

.btn-rounded {
  border-radius: $_4em;
  padding-left: $_3em;
  padding-right: $_3em;
}

span.btn-modal-trigger {
  font-weight: bold;
}
.btn-modal-trigger {
  cursor: pointer;
}
