<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="hero">
      {% include nav.html %}
      <div class="content">
        <div class="grid align-end gutter-xs-lg gutter-sm-xl space-top-sm-xl">
          <div class="cell-shrink">
            <div class="artwork">
              <div class="text">
                <h1>{{ site.name }}</h1>
                <p>{{ site.description }}</p>
                <p class="author">
                  Carlos Espinal
                </p>
              </div>
              <img width="1600" height="2560" src="{{ site.baseurl }}/images/cover.jpg">
            </div>
          </div>

          <div class="cell">
            <div class="grid gutter-xs-lg no-response">
              <div class="cell-shrink">
                <span class="text-light">EPUB &amp; Kindle</span>
                <h2>{{ site.epub_price }}</h2>
              </div>
              <div class="cell">
                <span class="text-light">PAPERBACK</span>
                <h2>{{ site.paperback_price }}</h2>
              </div>
            </div>

            <h3 class="text-cta space-top-xs-xs">Available now</h3>
            <p>{{ page.description }}</p>

            <div class="grid gutter-xs-sm space-top-xs-md">
              <div class="cell-shrink">
                <div class="button-group">
                  <a href="{{ site.amazon_uk_url }}" target="_blank" class="first">Buy on Amazon UK</a>
                  <a href="{{ site.amazon_us_url }}" target="_blank" class="second">US</a>
                </div>
              </div>
              <div class="cell-shrink">
                <a href="{{ site.books_2_read_url }}" target="_blank" class="btn-white btn-sm btn-full">Other stores</a>
              </div>
              <div class="cell-shrink">
                <a href="{{ site.donation_url }}" target="_blank" class="btn-purple btn-sm btn-full">Via Donation</a>
              </div>
            </div>

            <div class="grid gutter-xs-md no-response align-middle space-top-xs-md">
              <div class="cell-shrink">
                <img width="40" height="40" class="img-avatar" src="{{ site.baseurl }}/images/avatar.jpg">
              </div>
              <div class="cell">
                <p>
                  <a href="#bio" class="underlined">Carlos Espinal</a>, Parter @seedcamp
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="learn-more smooth-scroll" href="#main">Read more</a>
    </header>

    <section id="main" role="main" class="row-dark">
      <div class="content">
        <div class="posts">
          {% for post in site.posts %}
            <article class="post space-bottom-xs-xxl">
              <h2>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} →</a>
              </h2>
              <p class="text-light">Posted on {{ post.date | date: "%B %e, %Y" }}</p>
              <div class="entry">
                {{ post.excerpt }}
              </div>
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn-purple space-top-xs-sm">
                Read post
              </a>
            </article>
          {% endfor %}
        </div>
      </div>
      {% if content %}
      <div class="content">
        {{ content }}
      </div>
      {% endif %}
    </section>

    {% include footer.html %}

    {% include analytics.html %}

   <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700. 700i" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="scripts.js"></script>
  </body>
</html>
